{% extends 'blog/base.html' %}

{% block content %}
<table>
{% for post in posts %}
<tr><td>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.titulo }}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <p>published: {{ post.fecha_publicacion }}</p>
        </h6>
        <p class="card-text">{{ post.texto|linebreaksbr }}</p>
        <a href="{% url 'post_detail' pk=post.pk %}" class="card-link">Comments: {{ post.approved_comments.count }}</a>
    </div>
    
</div>
</td></tr>
{% endfor %}
</table>
{% endblock %}