body {
    background-image: url("../images/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: #000000;
}

h1 a {
    font-family: 'Gugi';

}