body {
    background-image: url("../images/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: #000000;
    text-align: center;
}

h1 a {
    font-family: 'Gugi';

}
h4 {
    color: #ffffff;
}